*{
	margin: 0%;
}
.navigation{
    padding: 1%;
}
.navigation img{
	vertical-align: middle;
}
.navigation a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	margin-left: 3%;
}
#signin{
	background-color: deepskyblue;
	border-radius: 25px;
	color: white;
	padding: 1%;
	margin-left: 9%;
}
.wallet{
	background-color: whitesmoke;
	text-align: center;
	padding: 1%;
}
.sec2{
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 0%;
	margin-left: 3%;
}
.india{
	font-size: 55px;
	margin-top: 5%;
	font-family: 'poppins', sans-serif;
}
.recharge{
	font-size: 20px;
	font-family: 'poppins', sans-serif;
	margin-top: 6%;
	margin-bottom: 5%;
}
.download{
	background-color: black;
	color: white;
	border-radius: 25px;
	text-decoration: none;
	text-align: center;
	padding: 2%;
	border: 1px solid black;
	margin-top: 6%;
}
.downlad:hover{
    background-color: white;
	color: black;
}
.sec3{
	background-color: #00BFFF ;
	color: white;
	font-size: 16px;
	padding: 5%;
	font-family: sans-serif;
}
.sec3 a{
	text-decoration: none;
	color: white;
}
.bills{
	margin-bottom: 2%;
	font-size: 30px;
}
.paybills{
	display: flex;
	justify-content: space-between;
	color: white;
	
}
.sec4{
	background-color: #043e7d;
	color: white;
	padding: 5%;
	font-size: 18px;
	font-family: 'poppins', sans-serif;
}
.sec4 a{
	text-decoration: none;
	color: white;
}
.buy{
	font-size: 30px;
}
.books{
	display: flex;
	justify-content: space-between;
	color: white;
	padding: 2%;
}
.sec5{
	background-color: rgba(239, 239, 239, 0.6);
	padding-top: 2%;
	padding-right: 6%;
	padding-left: 6%;
	padding-bottom: 2%;
}
.div1{
	background-color: white;
}
.sec5div1{
	display: flex;
	justify-content: space-between;
	padding: 8%;
	background-color: white;
}
.image{
	display: flex;
	font-size: 20px;
}
.paytm{
	font-size: 45px;
	margin-top: 8%;
	margin-bottom: 4%;
}
.online{
	margin-top: 10%;
	margin-bottom: 5%;
	font-family: 'poppins', sans-serif;
	font-size: 35px;
}
.load{
	font-size: 18px;
	font-style: normal;
	margin-bottom: 10%;
	}
.Download{
	border-radius: 25px;
	background-color: black;
	padding: 2%;
	margin-left: 5%;
	text-align: center;
	text-decoration: none;
	color: white;
	border: 1px solid black;
}
.Download:hover{
	background-color: white;
	color: black;
}
.sec6{
	background-color: rgba(239, 239, 239, 0.6);
	padding-top: 2%;
	padding-right: 6%;
	padding-left: 6%;
	padding-bottom: 2%;
}
.upi{
	display: flex;
	font-size: 20px;
	margin-bottom: 5%;
	margin-top: 5%;
}
.sec6div2{
	display: flex;
	justify-content: space-evenly;
	background-color: white;
	padding: 5%;

}
.pay{
	font-size: 40px;
	margin-bottom: 2%;
	margin-top: 4%;
}
.account{
	margin-top: 5%;
	margin-bottom: 7%;
	font-size: 20px;
}
.sec7{
	background-color: rgba(239, 239, 239, 0.6);
	padding-top: 2%;
	padding-right: 6%;
	padding-left: 6%;
	padding-bottom: 2%;
}
.sec7div{
	background-color: white;
	padding: 5%;
	display: flex;
}
.wantit{
	margin-top: 4%;
	margin-bottom: 2%;
	margin-left: 5%;
	font-size: 35px;
}
.image8{
	margin-top: 8%;
	margin-left: 5%;
	margin-right: 1%;
}
.with{
	font-size: 20px;
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 3%;
}
.learn{
	background-color: darkblue;
	color: white;
	border-radius: 25px;
	padding: 2.8%;
	margin-top: 4%;
	margin-bottom: 2%;
	margin-left: 4%;
}
.learn:hover{
	background-color: skyblue;
	color: white;
}
.sec8{
	display: flex;
	justify-content: space-evenly;
	background-color: rgba(239, 239, 239, 0.6);
	padding-top: 2%;
	padding-right: 6%;
	padding-left: 6%;
	
	}
.sec8div1{
	background-color: white;
	border-radius: 8px;
	margin-right: 5%;
	padding-left: 4%;
	margin-bottom: 7%;
}
.sec8div2{
	background-color: white;
	border-radius: 15px;
	padding-left: 5%;
	padding-top: 5%;
	margin-bottom: 7%;
}
.unlimted{
	font-size: 40px;
	margin-top: 5%;
	margin-bottom: 3%;
}
.most{
	font-size: 40px;
	margin-top: 1%;
}
.sec9{
	display: flex;
	justify-content: space-between;
	padding-top: 7%;
	padding-left: 9%;
	padding-bottom: 7%;
}
.service{
	font-size: 50px;
	margin-bottom: 9%;
}
.most{
	margin-top: 10%;
	margin-bottom: 5%;
	font-size: 39px;
}
.offer{
	margin-bottom: 4%;
	font-size: 20px;	
}
.image15{
	margin-top: 10%;
}
.sec10{
	background-color: rgba(239, 239, 239, 0.6);
	display: flex;
	justify-content: space-evenly;
	padding-top: 7%;
	padding-left: 5%%;
	padding-bottom: 6%;
	padding-right: 4%;
}
.image16{
	margin-top: 5%;
	margin-bottom: 6%;
}
.build{
	font-size: 40px;
	margin-bottom: 6%;
}
.money{
	font-size: 17px;
	margin-bottom: 6%;
}
.sec11{
	display: flex;
	justify-content: space-between;
	margin-top: 7%;
	margin-left: 6%;
	margin-right: 4%;
}
.image18{
	margin-bottom: 5%;
}
.insurance{
	font-size: 40px;
	margin-bottom: 4%;	
}
.buying{
	font-size: 20px;
	margin-bottom: 3%;
}
.learnmore{
	background-color: darkblue;
	color: white;
	border-radius: 25px;
	padding: 2.6%;
	margin-top: 4%;
	margin-bottom: 2%;
	margin-left: 4%;
}
.learnore:hover{
	background-color: skyblue;
	color: white;
}
.sec12{
	background-color: rgba(239, 239, 239, 0.6);
	display: flex;
	justify-content: space-between;
	margin-top: 6%;
	padding-top: 7%;
	padding-left: 6%;
	padding-right: 4%;
	padding-bottom: 7%;
}
.get{
	font-size: 30px;
	margin-top: 7%;
	margin-bottom: 5%;
}
.sec13{
	background-color: rgba(239, 239, 239, 0.6);
	display: flex;
	justify-content: space-between;
	padding-top: 2%;
	padding-right: 6%;
	padding-left: 6%;
	padding-bottom: 2%;
}
.sec13div{
	background-color: white;
}

@media (max-width: 390px){
	.navigation a{
		font-size: 5px;
	}
	.wallet{
		font-size: 9px;
	}
	.india{
		font-size: 25px;
	}
	.recharge{
		font-size: 10px;
	}
	.paybills{
		flex-direction: column;
		align-items: center;
		font-size: 19px;
	}
	.books{
		flex-direction: column;
		align-items: center;
		
	}
	.books p{
		font-size: 20px !important;
	}
	.online{
		font-size: 13px;
	}
	.load{
		font-size: 7px;
	}
	.image4{
		width: 30%;
	}
	.image5{
		width: 10%;
	}
	.pay{
		font-size: 10px;
	}
	.account{
		font-size: 3px;
	}
	.image6{
		width: 30%;
	}
	.wantit{
		font-size: 10px;
	}
	.with{
		font-size: 3px;
	}
	.unlimted{
		font-size: 10px;
	}
	.most{
		font-size: 10px;
	}
	.hdfc{
		font-size: 7px;
	}
	.sbi{
		font-size: 7px;
	}
	.service{
		font-size: 17px;
	}
	.offer{
		font-size: 8px;
	}
	.image17{
		width: 30%;
	}
	.image16{
		margin-bottom: 0%;
	}
	.build{
		font-size: 9px;
		margin-top: 1%;
		margin-bottom: 1%;
	}
	.money{
		font-size: 9px;
		margin-top: 1%;
		margin-bottom: 1%;
	}
	.insurance{
		font-size: 10px;
	}
	.buying{
		font-size: 9px;
	}
	.get{
		font-size: 10px;
	}
	.learn{
		font-size: 5px;
		margin-top: 1%;
	}
}